{% extends 'padres/base2.html' %}

{% block title_pagina %}
<title>Sobre nosotros</title>
{% endblock title_pagina %}

{% block mi_contenido %}
<h2 style="text-decoration: underline; color:#1442FA; ">Sobre Tomás Temudio</h2>
<p>
    Mi nombre es Tomas Temudio, tengo 21 años y estudió economía en la Universidad Torcuato Di Tella. 
    Soy un apasionado del fútbol y la economía. <br> 
    Hace poco descubrí algo que también me llamó mucho la atención, la programación. 
    Investigue y decidí meterme en el mundo de Python ya que también me es útil para complementar las herramientas que estoy aprendiendo en mi carrera universitaria. 
    Me metí en este curso con el objetivo de aprender más y luego especializarme en el uso de Python para la economía y las finanzas. <br>
    Espero que les guste la página que creamos.

</p>

<h2>Sobre Thaiel Quikuen</h2>
{% endblock mi_contenido %}