{% extends 'padres/base2.html' %}

{% block title_pagina %}
<title>Sobre nosotros</title>
{% endblock title_pagina %}

{% block mi_contenido %}
<h2 style="color:#0d6efd;">Sobre Tomás Temudio</h2>
<p>
    Mi nombre es Tomas Temudio, tengo 21 años y estudió economía en la Universidad Torcuato Di Tella. 
    Soy un apasionado del fútbol y la economía. <br> 
    Hace poco descubrí algo que también me llamó mucho la atención, la programación. 
    Investigue y decidí meterme en el mundo de Python ya que también me es útil para complementar las herramientas que estoy aprendiendo en mi carrera universitaria. 
    Me metí en este curso con el objetivo de aprender más y luego especializarme en el uso de Python para la economía y las finanzas. <br>
    Espero que les guste la página que creamos.

</p>

<h2 style="color:#0d6efd;">Sobre Thaiel Quikuen</h2>
<p>
    Mi nombre es Quikuen Kevin Thaiel, tengo 22 años y estudio la carrera de analista de sistemas.
    Me gusta mucho resolver puzzles  y la cyberseguridad estas son las razones por la cual me anote en un carrera de informatica, ya que me fascinaba la idea trabajar resolviendo problemas.<br>
    Descubri el lenguaje Python y vi que era un muy buen lenguaje para empezar ya que era de un nivel facil. Ademas esto me ayudaria para mi siguiente año en la carrera.
    Si bien este curso no esta enfocado en python para seguidad me sirvio mucho para para apareder lo basico, lo que me gusta y lo que no.
    Ademas de eso tambien pude apreder de Django. Lo cual si bien no esta enfocado a lo que yo quiero trabajar en un futuro si me resulto muy interezante. 
  </p>
{% endblock mi_contenido %}