{% extends 'padres/base2.html' %}

{% block title_pagina %}
<title>jugador</title>
{% endblock title_pagina %}

{% block mi_contenido %}
<h3>Datos de Jugador :</h3>
    <p>
        <p> Jugador</p>
        <li> Nombre: {{jugador.nombre}} </li>
        <li> Apellido: {{jugador.apellido}} </li>
        <li> Nacionalidad: {{jugador.nacionalidad}} </li>
        <li> Liga: {{jugador.liga}} </li>
        <li> Fecha de cracion: {{jugador.fechacrracion}} </li>
        <li> Descripcion: {{jugador.descripcion | safe }} </li>        
    </p>
{% endblock mi_contenido %}